h3 {
    font-family: 'Work Sans', sans-serif;
}

.heading{
    padding-left: 0px;
    padding-right: 0px;
}

.myRow{
    margin-left: 0;
    margin-right: 0;
}

.smallContainer{
    padding-left: 50px;
    padding-right: 10px;
}

.content{
    margin-left:15px;
    margin-top:20px;
}

.addressStyle{
    margin-left: -13px;
    border-left: 4px solid black;
    padding-left: 9px;
    height: calc(100% - 2rem);
    border-color: #4c216d;
}

.pic{
    margin-left: 88px;
}

.columns{
    float: left !important;
}

.secondRow{
    margin-top: 30px;   
    margin-bottom: 30px;
}

.description{
    width:210%;
}

.leftCol{
   // margin-left: -20px;
}

img{
  
  max-width: none;
}

.oneCell :hover{
}

::ng-deep   .rating{
    justify-content: right!important;
}

.myHighlight{
    transition-duration: 500ms !important;
    color: black;
}
.myHighlight :hover{
    transition-duration: 500ms !important;
    color:#662d91;
    //background-color: rgb(255, 245, 255);
}
.myHighlight.row{
    background-color: unset;
}
.equalizer {
  border: 2px solid #fffa00;

  .equalize {
    border: 1px solid #ff07ec;
    width:30%;
    float:left;
  }
}

.contactRow{
  height: 100%;
}

.iconStyle{
  margin-top: 7px;
}

.iconS{
  margin-top: 200px;
    margin-left: 40px;

}

.colHeader{
  font-weight: 600;
}

.infoIcon{
  color: #4c216d;
}

.singleComment{
  border: 2px solid #4c216d;
  padding-left: 10px;
  margin-bottom: 10px;
  width:60%;
  border-radius: 15px;
  padding-top:10px;
}

.map{
  width:100%; height:300px;
  
}

.mapPos{
  margin-bottom:40px;
  //width:1400px;
  height: 300px;
  //margin-left: 160px;
  margin-right: 160px;
  margin-top:20px;
  margin:0 auto;
}

.gallery{
  
  background-color: white;
  padding: 7px;

}
 
.firstHeader{
  margin-top:20px;  
  margin-bottom: 20px;
  max-width: 100%;
 // text-align: end;
}

.first{
  margin-bottom: 20px;
}

.last{
  text-align: end;
}


.add-button{
  padding-top: 10px;
  height: 56px;
    width: 275px;

}


.add-icon{

  position: relative;
  top: 6px;
}
///header

.holy-grail-grid {
    display: grid;
    grid-gap: 20px;

    // redefining grid on small
    @media screen and (max-width: 60em) {
      grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  .holy-grail-header,
  .holy-grail-left,
  .holy-grail-middle,
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
  }
  
  .holy-grail-header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  
  .holy-grail-left {
    @media screen and (max-width: 60em) {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-middle {
    @media screen and (max-width: 60em) {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .right-nav {
    @media screen and (max-width: 60em) {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  

//////////////////////

.comment-section-container {
  //  background-color: #fefefe;
    padding: 1rem;
    margin-bottom:30px;
  }
  
  .comment-section-author {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1rem;
  }
  
  .comment-section-author .comment-section-name {
    margin-left: 1rem;
  }
  
  .comment-section-author .comment-section-name p {
    margin-bottom: 0;
  }
  
  .comment-section-box {
    background-color: #e6e6e6;
    padding: 1rem;
  }
  
  ///button
  .button.success{
    background-color: #334049;
    color:#F2F5F9;
  }


 ::ng-deep .ngx-gallery-arrow-wrapper{
    position: inherit!important;
  }

  ::ng-deep  .ngx-gallery-icon{
    z-index: 1000!important;
  }

  ////mapa
  .mapText{
    padding-left: 12px;
    padding-bottom: 3px;
    background-color: #4c216d;
    color: white;
  }

  //
  .card{
    width:600px;
  }

  //other

  .photo{
    background-color: #4c216d;
  }


  .photo.bck{
    min-height: 420px;
  }

  .screen{
    height: 800px;
  }

  .background {
    
  //  background-image: url("https://www.contemporist.com/wp-content/uploads/2016/11/new-york-architecture-091116-1108-03.jpg");
     // "https://upload.wikimedia.org/wikipedia/commons/5/56/Wroc%C5%82aw_Dworzec_G%C5%82%C3%B3wny.jpg");
  
    height: 100%; 
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 20px;
  }

  ::ng-deep .row {
   max-width: 1000rem !important;
  }

  .mainName{
    margin-left: 6px;
  }

  .bigBtn{
    text-align: center;
    margin-top: 47px;
  }

  .btnText{
    font-size:19px;
  }
  .strips{
    margin-top: 30px;
    background-color: #d1cece;
    height: 218px;
    padding-top:20px;
  }

  .strip{
    margin-top: 30px;
    min-height: 218px;
    padding-top:20px;
  }

  .infoCard{
    margin-right: 160px;
    margin-left: 160px;
    margin-bottom: 60px;
    @media print, screen and (max-width: 850px){
      .medium-4 {
          width: 100%;
      }
      }
   
  }

  .columns.myHighlight{
    padding-left: 20px;
    padding-right: 20px;
  }

  .infoLabel{
    margin-top: 51px;
    margin-left: 160px;
    font-size: 24px;
    width: fit-content;
    background-color: #fff;
    border-radius: 4px;
    /* box-shadow: 1px 1px 1px 3px; */
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px dashed #e7e7e7;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;

    
}

@media print, screen and (max-width: 850px){

}
.galleryRow{
  
  .myGallery{
    width: fit-content;
    float: left;
    margin-left: 30px;
  }

.rectangle{
  background-color: #4c216d;  
    background-image: linear-gradient(to right, #9174a7, #4c216d);
    height:560px; 
    position:relative;
    top: -30px;
    //left: -49px;  
    width:1000px; 
    z-index: -1;
    
    margin-left: calc(100% - 1000px - 30px);
}

@media print, screen and (max-width: 1100px){
  .rectangle{
    margin-left: 10px;
    width: calc(100% - 20px);
    height: calc(46vw + 60px);
  }
    .gallery{
     width: calc(100vw - 80px)!important;
    height: 46vw!important;
    }
}

}


.mapCard{

  margin-left: 10px;
    margin-right: 10px;
}

 .mapInfo{
  margin-left:10px!important;
}


.commentIcon{
  font-size: 24px;
    color: white;

}

.mat-raised-button{
  box-shadow: none!important;
}

.mat-raised-button.mat-primary{

border-radius: 0!important;
font-family: inherit;
color: white;
background-color: #334049;
background: #87689e;
margin-left: 20px;
margin-top: 13px;
}

.two{
  margin-top:20px;
  margin-left:10px;
  margin-right:10px;
}


@media screen and (max-width: 1200px) {
  .infoCard{
    margin-right: 20px;
    margin-left: 20px;
  }

  .infoLabel{
    margin-left: 20px;
  }
 
}

