<div class="container">
 
      <div class="row firstHeader myRow first">
        <div class="columns small-1 heading">
          <img src="assets/museum.svg" class="iconStyle" height="80px" width="80px">
        </div>
        <div class="columns small-4 heading">
          <h3>{{place.name}} </h3>
          <star-rating id="ratingStar" [starType]="'svg'" [rating]="4.5" [disabled]="true" [showHalfStars]="true"
            size="large"></star-rating>
        </div>
        <div class="columns small-7 heading last">
            <span class="button success add-button" (click)="onAdd()" *ngIf="logged">
                <i class="material-icons add-icon">
                    add_circle
                    </i>
                  <span>  Dodaj do wycieczki
                    </span>                       
                  </span>


        </div>
 
  </div>
  <div class="row myRow">
    <div class="columns small-6">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="gallery"></ngx-gallery>
    </div>
    <div class="columns small-6 smallContainer">
      <h4>Informacje</h4>
      <div class="content">
        <div class="row">
          <div class="columns myHighlight small-6 ">
            <div class="row">
              <div class="columns small-3 ">
                <img src="assets/pin.svg" height="20px" width="20px">
              </div>
              <div class="columns small-9 heading leftCol">
                <h5 class="colHeader">Adres</h5>
                <div class="addressStyle">
                  <h6>ul. {{place.street}} {{place.number}}</h6>
                  <h6>{{place.city}}</h6>
                  <h6>{{place.country}}</h6>
                </div>
              </div>
            </div>
          </div>


          <div class="columns myHighlight small-5">
            <div class="row">
              <div class="columns small-3 ">
                <img src="assets/clock.svg" height="20px" width="20px">
              </div>
              <div class="columns small-9 heading">
                <h5 class="colHeader">Godziny otwarcia</h5>
                <div class="addressStyle">
                  <h6 *ngFor="let day of allDaysSorted">{{day.ids}} {{day.start}}</h6>
                  
                </div>
              </div>
            </div>
          </div>
        </div>






        <div class="row secondRow " equalizer>
          <div class="columns small-6 panel myHighlight oneCell " equalize>
            <div class="row contactRow">
              <div class="columns small-3 ">
                <img src="assets/contact.svg" height="20px" width="20px">
              </div>
              <div class="columns small-6 heading leftCol contactRow">
                <h5 class="colHeader">Kontakt</h5>
                <div class="addressStyle">
                  <h6>{{place.website}}</h6>
               
                  <h6>{{place.phoneNumber}}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="columns small-5 panel myHighlight " equalize>
            <div class="row  contactRow">
              <div class="columns small-3 ">
                <img src="assets/question.svg" height="20px" width="20px">
              </div>
              <div class="columns small-7 heading  contactRow">
                <h5 class="colHeader">Opis</h5>
                <div class="addressStyle">
                  <h6 class="description">{{place.description}}
                  </h6>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
<div class="mapPos">
  <!--
  <agm-map class="map" [latitude]='latitude' [longitude]='longitude' [mapTypeId]='mapType'>
  </agm-map>-->
</div>

<div class="row">
  <div class="comment-section-container">
    <h3>Komentarze</h3>
    <div class="singleComment">
      <div class="comment-section-author">
        <img src="https://placehold.it/50x50" alt="">
        <div class="comment-section-name">
          <h5 class="comment">Janice Jones</h5>
          <p>March 12, 2017 at 1:28pm</p>
        </div>
      </div>
      <div class="comment-section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla
          vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis
          tenetur a voluptatibus quia
          deserunt.
        </p>
      </div>
    </div>
    <div class="singleComment">
      <div class="comment-section-author">
        <img src="https://placehold.it/50x50" alt="">
        <div class="comment-section-name">
          <h5>Janice Jones</h5>
          <p>March 12, 2017 at 1:28pm</p>
        </div>
      </div>
      <div class="comment-section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur. Nulla
          vitae elit libero, a pharetra augue. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum facilis
          tenetur a voluptatibus quia deserunt.
        </p>
      </div>
    </div>
  </div>

</div>

<!--
<div class="row equalizer" equalizer>
  <div class="col equalize" equalize>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare bibendum magna at consequat.
    Morbi ultrices, augue eget condimentum commodo, lacus odio sodales odio, non suscipit libero enim nec odio.
  </div>
  <div class="col equalize" equalize>
    Sed lorem elit, bibendum sed varius in, pretium vitae ipsum.<br />Curabitur vulputate mi risus, vitae pulvinar est
    egestas quis.
    Phasellus porta lacus eget velit condimentum, ac iaculis lacus volutpat.
  </div>
  <div class="col equalize" equalize>
    Donec quam felis, vulputate non egestas facilisis, sagittis ac odio.
    Aliquam tincidunt, enim commodo congue volutpat, libero erat tempus massa, eu vehicula risus eros in metus.
    Etiam convallis, neque quis pellentesque sodales, metus leo gravida magna, dictum ullamcorper metus lectus eget
    erat.
    Vestibulum in leo a urna lacinia dapibus a at lacus.
  </div>
</div>-->