<slideshow [height]="height" [minHeight]="'400px'" [autoPlay]="true" [autoPlayInterval]="4500" [showArrows]="true"
  [showDots]="true" [imageUrls]="imageSources" [lazyLoad]="imageSources?.length > 1" [autoPlayWaitForLazyLoad]="true">
</slideshow>
<div class="container">
  <h2 class="headingStyle">Gdzie się wybierasz?</h2>


  <div class="row whereGo">
      <div class="wrap">
          <form [formGroup]="form" *ngIf="initialized">


        <div class="search">
           <input type="text" class="searchTerm" placeholder="Wpisz szukany obiekt lub cel podróży">
           <button (click)="onSearch()" type="submit" class="searchButton">
             <i class="fa fa-search"></i>
          </button>
        </div>
 </form>
      <!--     <div class="input-group input-group-rounded inputPos">
        <input class="input-group-field" type="search">
        <div class="input-group-button">
       
          <button class="button secondary">
            <i class="material-icons">
              place
            </i>
          </button>
        </div>
      </div> -->
    </div>
  </div>
  <!--
  <div class="grid-block">
    <div class="grid-block">abc</div>
    <div class="grid-block">def</div>
  </div>
  -->
  <h2 class="type-sidelines"><span>Popularne miejsca</span></h2>
  <div  *ngIf="initializedPlaces">
    <div class="row">
      <div class="small-2 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Zamo%C5%9B%C4%87._Ratusz..jpg/800px-Zamo%C5%9B%C4%87._Ratusz..jpg);
                background-size: cover;">
              <span>{{places[0].name}}</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{places[0].name}}</h3>
              <p class="flip-card-inner-back-text">{{places[0].description}}</p>
              <a [href]="'/place/details/'+places[0].id" class="button success" >Zobacz</a>
            </div>
          </div>
        </div>
       
      </div>
      <div class="small-4 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background:url( https://upload.wikimedia.org/wikipedia/commons/thumb/d/df/Zesp%C3%B3%C5%82_Zamku_Krze%C5%BCackiego_MALBORK_01.jpg/800px-Zesp%C3%B3%C5%82_Zamku_Krze%C5%BCackiego_MALBORK_01.jpg
            );
            background-size: cover;">
              <span>{{places[1].name}}</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{places[1].name}}</h3>
              <p class="flip-card-inner-back-text">{{places[1].description}}</p>
              <a [href]="'/place/details/'+places[1].id" class="button success" >Zobacz</a>
            </div>
          </div>
        </div>
       
      </div>
      <div class="small-6 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background:url(  https://ocs-pl.oktawave.com/v1/AUTH_f9dd5582-c0b6-4b27-a573-ecf06cf3ef09/tropter-www/uploads/images/72/20/c3d07d4d4b89d695216730eb8d6fadcc4deb/muzeum_fryderykachopina_000_medium.jpeg?t=20181211080851);
            background-size: cover;">
              <span>{{places[2].name}}</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{places[2].name}}</h3>
              <p class="flip-card-inner-back-text">{{places[2].description}}</p>
              <a [href]="'/place/details/'+places[2].id" class="button success">Zobacz</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

  <button class="button moreBtn button-rounded-hover" (click)="morePlaces()">Poznaj więcej miejsc</button>



  <h2 class="type-sidelines"><span>Nowe wycieczki</span></h2>
  <div  *ngIf="initializedTrips">
    <div class="row">
      <div class="small-2 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background:url( https://media.fshoq.com/images/38/free-image-38-medium.jpg);
            background-size: cover;">
              <span>{{trips[0].name}}</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{trips[0].name}}</h3>
              <p class="flip-card-inner-back-text">{{trips[0].description}}</p>
              <a [href]="'/trip/details/'+trips[0].id" class="button success">Zobacz</a>
            </div>
          </div>
        </div>

      </div>
      <div class="small-4 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background:url(  https://images.pexels.com/photos/1434620/pexels-photo-1434620.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            background-size: cover;">
              <span>{{trips[1].name}}</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{trips[1].name}}</h3>
              <p class="flip-card-inner-back-text">{{trips[1].description}}</p>
              <a [href]="'/trip/details/'+trips[1].id" class="button success">Zobacz</a>
            </div>
          </div>
        </div>

      </div>
      <div class="small-6 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background:url( https://media.fshoq.com/images/43/free-image-43-medium.jpg);
            background-size: cover;">
              <span>{{trips[2].name}}</span>
            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{trips[2].name}}</h3>
              <p class="flip-card-inner-back-text">{{trips[1].description}}</p>
              <a [href]="'/trip/details/'+trips[2].id" class="button success">Zobacz</a>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  <button class="button moreBtn button-rounded-hover"(click)="moreTrips()">Zobacz więcej wycieczek

  </button>






  <!--
  <button type="button" class="button primary" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Simple demo
  </button>


  <alert type="success">Hello, I'm a Success Callout Alert</alert>-->


</div>