<div class="container">

  <div class="holy-grail-header">
    <div class="row myRow">
      <div class="columns small-1 heading">
        <img src="assets/camera.svg" height="70px" width="70px">
      </div>
      <div class="columns small-7 heading">
        <h3 class="tripName">Panel użytkownika</h3>
      </div>

    </div>

    <h2 class="type-sidelines"><span>Twoje wycieczki</span></h2>
  </div>

  <div class="row secondRow">
    <div class="columns small-12 noPadding ">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="id">Numer</th>
            <th class="name">Nazwa</th>
            <th class="place">Państwo</th>
            <th class="place">Region</th>
            <th class="place">Czas trwania</th>
            <th class="place">Ilość miejsc</th>
            <th class="place">Udostępniona publicznie</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active tableRow" *ngFor="let trip of myTrips, let i=index" (click)="onTrip(trip.id)">
            <td data-label="First Name">{{i+1}}</td>
            <td data-label="Last Name">{{trip.name}}</td>
            <td data-label="Hero Title">{{trip.country}}</td>
            <td data-label="Hero Title">{{trip.region}}</td>
            <td data-label="Hero Title">{{trip.duration}} dni</td>
            <td data-label="Hero Title">{{trip.positionsInTrip.length}}</td>
            <td data-label="Hero Title">Tak</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button class="button moreBtn button-rounded-hover" (click)="onNewTrip()">
    <img src="assets/add.svg" height="30px" width="30px">
    Utwórz nową wycieczkę

  </button>
  <div class="holy-grail-header">


    <h2 class="type-sidelines"><span>Twoje miejsca</span></h2>
  </div>

  <div class="row secondRow">
    <div class="columns small-12 noPadding ">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="id">Numer</th>
            <th class="name">Nazwa</th>
            <th class="place">Kategoria</th>
            <th class="place">Miasto</th>
            <th class="place">Państwo</th>
          </tr>

        </thead>
        <tbody>
          <tr class="active tableRow" *ngFor="let place of myPlaces, let j=index" (click)="onTrip(trip.id)">
            <td data-label="First Name">{{j+1}}</td>
            <td data-label="Last Name">{{place.name}}</td>
            <td data-label="Hero Title">{{place.category}}</td>
            <td data-label="Hero Title">{{place.city}}</td>
            <td data-label="Hero Title">{{place.country}} </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
  <button class="button moreBtn button-rounded-hover" (click)="onNewTrip()">
    <img src="assets/add.svg" height="30px" width="30px">
    Dodaj nowe miejsce

  </button>

</div>