<div class="bodyImg">
<div class="container">
    



    <form [formGroup]="loginForm">
        <div class="columns narrow" >
            <div class=" rectangle" ></div>
          </div>
      <div class="sign-in-form">
          <h2 class="headingStyle">Logowanie</h2>
          <div class="singleInput">
          <label for="sign-in-form-username">Login</label>
          <input type="text" class="sign-in-form-username" id="sign-in-form-username" autocomplete="off"
          formControlName="login"></div>
    
          <div class="singleInput">
          <label for="sign-in-form-password">Hasło</label>
          <input type="password" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"
          formControlName="password"></div>
          <button type="submit" class="sign-in-form-button signIn" (click)="onConfirm()">Zaloguj
            
          </button>
        </div>
      </form>
    <div class="sign-in-form">
      <h5 class="noAccount">Nie masz konta?</h5>
      <button class="sign-in-form-button signUp" (click)="onSignUp()">Zarejestruj</button>
    </div>

</div>
</div>