<div class="container">
    <h2 class="headingStyle">Logowanie</h2>



    <form>
        <div class="sign-in-form">
          <div class="singleInput">
          <label for="sign-in-form-username">Login</label>
          <input type="text" class="sign-in-form-username" id="sign-in-form-username"></div>
    
          <div class="singleInput">
          <label for="sign-in-form-password">Hasło</label>
          <input type="text" class="sign-in-form-password" id="sign-in-form-password"></div>
          <button type="submit" class="sign-in-form-button">Zaloguj
            
          </button>
        </div>
      </form>
    <div class="sign-in-form">
      <h5 class="noAccount">Nie masz konta?</h5>
      <button class="sign-in-form-button signUp">Zarejestruj</button>
    </div>

</div>