<app-stars></app-stars>
<div class="container"  #doc >
  <h2 *ngIf="!editing" class="headingStyle">Tworzenie nowego miejsca</h2>
  <h2 *ngIf="editing&&editedPlace"class="headingStyle">Edycja miejsca {{editedPlace.name}}</h2>
<div *ngIf="form">
  <form  [formGroup]="form">
    <div class="sign-in-form">
      <div class="singleInput">
        <label for="sign-in-form-username">Nazwa</label>
        <input type="text"  formControlName="name" class="sign-in-form-username" id="sign-in-form-username" autocomplete="off"></div>

      <div class="singleInput">
        <label for="sign-in-form-password">Kategoria</label>
       <!-- <select class="sign-in-form-password"  formControlName="category" id="sign-in-form-password">

          <option value="" class="sign-in-form-password" id="sign-in-form-password">Wybierz</option>
          <option class="sign-in-form-password" id="sign-in-form-password" *ngFor="let category of categories "
            [value]="country">
            {{category}}</option>

        </select> -->

        <mat-select class="searchTerm sign-in-form-username selectInput" placeholder="Wybierz kategorię" formControlName="category">
            <mat-option *ngFor="let category of categories"
            
       [value]="category">
              {{category}}
            </mat-option>
          </mat-select>
      </div>
      <div class="textCateogory up">- Adres -</div>

      <div class="singleInput country">
          <label for="sign-in-form-password">Kraj</label>
          <mat-select class="searchTerm sign-in-form-username selectInput" placeholder="Wybierz kraj"
            formControlName="country">
            <mat-option *ngFor="let country of countries" [value]="country">
              {{country}}
            </mat-option>
          </mat-select>
        </div>

       
<!--
      <div class="singleInput">
        <label for="sign-in-form-password">Państwo</label>
        <input type="text"  formControlName="country" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
-->
      <div class="singleInput">
        <label for="sign-in-form-password">Region</label>
        <input type="text"  formControlName="region" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
      <div class="singleInput">
        <label for="sign-in-form-password">Miasto</label>
        <input type="text" formControlName="city" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
      <div class="singleInput">
        <label for="sign-in-form-password">Ulica</label>
        <input type="text" formControlName="street" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
      <div class="singleInput">
        <label for="sign-in-form-password">Numer</label>
        <input type="text" formControlName="number" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
       <!---->
       <div class="textCateogory down up">- Położenie na mapie -</div>
       <div class="columns large-8" style="margin-bottom:30px">
        <div class="singleInput">
          <label for="sign-in-form-password">Szerokość geograficzna</label>
          <input type="number" step="0.000001"formControlName="latitude" class="sign-in-form-password" id="sign-in-form-password"
            autocomplete="off"></div>
        <div class="singleInput">
          <label for="sign-in-form-password">Długość geograficzna</label>
          <input type="number" step="0.000001" formControlName="longitude" class="sign-in-form-password" id="sign-in-form-password"
            autocomplete="off"></div>
          </div>
          <div class="columns large-4">
            <span>lub</span>
              <button  class="sign-in-form-button signIn mapBtn" (click)="map()">Znajdź na mapie

                </button>
          </div>
        <!---->
        <div class=" hours textCateogory down up">- Dni i godziny otwarcia -</div>
       <div class="hourCont">
        <div class="row">
          <div class="columns small-4 weekDays">
            <div class="checkbox">
              <mat-checkbox  formControlName="mon" [(ngModel)]="week[0]">Poniedziałek</mat-checkbox><br>
            </div>
          </div>
         <div class="" *ngIf="week[0]">
          <div class="columns small-1 weekDays from">od</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time"  formControlName="monOpen" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-1 weekDays from">do</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="monClose" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-2"></div>
          </div>
        </div>
        <div class="row">
          <div class=" columns small-4 weekDays">
            <div class="checkbox">
              <mat-checkbox  formControlName="tue"  [(ngModel)]="week[1]">Wtorek</mat-checkbox><br>
            </div>
          </div>
          <div *ngIf="week[1]">
          <div class="columns small-1 weekDays from">od</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="tueOpen" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-1 weekDays from">do</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="tueClose" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-2"></div>
        </div>
        </div>
        <div class="row">
          <div class=" columns small-4 weekDays">
            <div class="checkbox">
              <mat-checkbox  formControlName="wed"  [(ngModel)]="week[2]">Środa</mat-checkbox><br>
            </div>
          </div>
          <div *ngIf="week[2]">
          <div class="columns small-1 weekDays from">od</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="wedOpen" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-1 weekDays from">do</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="wedClose" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-2"></div>
        </div>
        </div>
        <div class="row">
          <div class=" columns small-4 weekDays">
            <div class="checkbox">
              <mat-checkbox  formControlName="thu"  [(ngModel)]="week[3]">Czwartek</mat-checkbox><br>
            </div>
          </div>
          <div *ngIf="week[3]">
          <div class="columns small-1 weekDays from">od</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time"formControlName="thuOpen" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-1 weekDays from">do</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time"formControlName="thuClose" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-2"></div>
        </div>
        </div>
        <div class="row">
          <div class=" columns small-4 weekDays">
            <div class="checkbox">
              <mat-checkbox  formControlName="fri"  [(ngModel)]="week[4]">Piątek</mat-checkbox><br>
            </div>
          </div>
          <div *ngIf="week[4]">
          <div class="columns small-1 weekDays from">od</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="friOpen" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-1 weekDays from">do</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="friClose" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-2"></div>
        </div>
        </div>
        <div class="row">
          <div class=" columns small-4 weekDays">
            <div class="checkbox">
              <mat-checkbox  formControlName="sat"  [(ngModel)]="week[5]">Sobota</mat-checkbox><br>
            </div>
          </div>
          <div *ngIf="week[5]">
          <div class="columns small-1 weekDays from">od</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="satOpen" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-1 weekDays from">do</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="satClose" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-2"></div>
        </div>
        </div>
        <div class="row">
          <div class=" columns small-4 weekDays">
            <div class="checkbox">
              <mat-checkbox  formControlName="sun"  [(ngModel)]="week[6]">Niedziela</mat-checkbox><br>
            </div>
          </div>
          <div *ngIf="week[6]">
          <div class="columns small-1 weekDays from">od</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time" formControlName="sunOpen" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-1 weekDays from">do</div>
          <div class="columns small-2 weekDays">
            <div class="singleInput">
              <input type="time"  formControlName="sunClose" class="sign-in-form-password smallInput" autocomplete="off"></div>
          </div>
          <div class="columns small-2"></div>
        </div>
        </div>
       </div>
    
    
        <div class="textCateogory down">- Dane kontaktowe -</div>
        <div class="singleInput">
        <label for="sign-in-form-password">Telefon</label>
        <input type="text" formControlName="phone" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
      <div class="singleInput">
        <label for="sign-in-form-password">Strona internetowa</label>
        <input type="text" formControlName="website" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
 
        <div class="textCateogory down">- Informacje dodatkowe -</div>
      <div class="singleInput">
        <label for="sign-in-form-password">Opis</label>
        <textarea  formControlName="description" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"> </textarea></div>
      
        <image-upload url="" [extensions]="['jpeg','png']" buttonCaption="Wybierz zdjęcia"
        dropBoxMessage="Przeciągnij tutaj" 
        (uploadFinished)="onUploadFinished($event)"></image-upload>
        

      <button *ngIf="!editing" type="submit" class="sign-in-form-button signIn" (click)="create()">Utwórz

      </button>
      <button *ngIf="editing" type="submit" class="sign-in-form-button signIn" (click)="edit()">Zatwierdź zmiany

        </button>
    </div>
  </form>
  </div>
</div>