<nav class="hover-underline-menu underline-from-center" id="data-menu-underline-from-center">
  <ul class="menu align-center">
    <li routerLink="" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="appNavItemActive"
    *ngIf="!isAdmin" ><a class="underline-from-center">Strona główna</a></li>
    <li routerLink="/all-places" routerLinkActive="appNavItemActive"
    *ngIf="!isAdmin" ><a class="underline-from-center">Atrakcje</a></li>
   <!-- <li><a class="underline-from-center">Hotele</a></li>-->
    <li routerLink="/all-trips" routerLinkActive="appNavItemActive"
    *ngIf="!isAdmin" ><a class="underline-from-center">Wycieczki</a></li>
    <li routerLink="/auth/signin" routerLinkActive="appNavItemActive" *ngIf="status==false"><a
        class="underline-from-center">Logowanie</a>
    </li>
    <li routerLink="/auth/signup" routerLinkActive="appNavItemActive" *ngIf="status==false"><a
        class="underline-from-center">Rejestracja</a>
    </li>
    <li routerLink="/trip/all" routerLinkActive="appNavItemActive" *ngIf="status&&!isAdmin"><a
        class="underline-from-center">Panel użytkownika</a>
    </li>
    <li routerLink="/admin/all-places-adm" routerLinkActive="appNavItemActive" *ngIf="status&&isAdmin"><a class="underline-from-center">
        Wszystkie miejsca    
      </a>
    </li>
    <li routerLink="/admin/not-confirmed" routerLinkActive="appNavItemActive" *ngIf="status&&isAdmin"><a class="underline-from-center">
        Niezatwierdzone miejsca    
      </a>
    </li>
    <li routerLink="/auth/signup" routerLinkActive="appNavItemActive" *ngIf="status"><a class="underline-from-center">
        Moje konto
      </a>
    </li>
    <li (click)="onLogOut()" routerLinkActive="appNavItemActive" *ngIf="status"><a class="underline-from-center">
        Wyloguj
      </a>
    </li>

    

    <!--
    <li routerLink="/auth/signup" routerLinkActive="appNavItemActive" *ngIf="status"><a class="underline-from-center">
      Menu 
      <button mat-button [matMenuTriggerFor]="menu">
<a href="https://www.flaticon.com/authors/freepik"> </a>
      </button>
        <mat-menu #menu="matMenu"  >
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>  
        
       </a>
       </li>

    <li>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
        </mat-menu>
    </li>
    -->
  </ul>
</nav>