
	<nav class="hover-underline-menu underline-from-center" id= "data-menu-underline-from-center">
        <ul class="menu align-center">
          <li
          routerLink="" 
          [routerLinkActiveOptions]="{exact: true}"
          routerLinkActive="appNavItemActive" 
            ><a href="#" class="underline-from-center">Strona główna</a></li>
          
          
          <li
          routerLink="/place" 
          routerLinkActive="appNavItemActive" 
          ><a href="/place" class="underline-from-center">Atrakcje</a></li>
          <li><a href="#" class="underline-from-center">Hotele</a></li>
          <li><a href="#" class="underline-from-center">Wycieczki</a></li>
          <li><a href="#" class="underline-from-center">Logowanie</a></li>
            <li><a href="#" class="underline-from-center">Rejestracja</a></li>
        </ul>
      </nav>
      