h3 {
    font-family: 'Work Sans', sans-serif;
}

.heading{
    padding-left: 0px;
    padding-right: 0px;
}

.myRow{
    margin-left: 0;
    margin-right: 0;
    margin-bottom:60px;
}

.secondRow{
  margin-bottom: 40px;
}

.columns{
    float: left !important;
}

.smallContainer{
    padding-left: 50px;
    padding-right: 10px;
}

.description{
    width:210%;
}
 
.tbl{
  width:100%
}

.id{
  width:10px;
}

.name{
  width:200px;
}

.place{
  width:40px;
}

.hoverEff{
  background-color: blueviolet;
}

.myIcon{
  margin-left:200px!important;
}

tbody td .hovActive:hover{
  background-color: #662d91;
  color:#f7f9f9!important;
}
.map{
  margin-bottom: 40px;
}

.border{
  border-left: 4px solid #4c216d;
    padding-left: 27px;
}

tr td {
  
  background-color: rgb(167, 162, 170); 
  transition-duration: 300ms;
  border-bottom:1px solid #f7f9f9;
}

tr:hover td {
  background-color:#662d91;
  color:#f7f9f9!important;  
  cursor: pointer;
}

.tripName{
  margin-top:20px;
  margin-bottom:24px;
}

.tripHeader{
  font-weight: 600;
}

.photo{
  height: 300px!important;
 // border: 10px solid #662d91;
  width:100%;

}

thead tr{
//  border-bottom: 2px solid #662d91;
  background-color: #662d91;
  color:#f7f9f9!important;
}

thead th{
  font-weight: 100!important;  
}
////////////////////
.holy-grail-grid {
    display: grid;
    grid-gap: 20px;

    // redefining grid on small
    @media screen and (max-width: 60em) {
      grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  .holy-grail-header,
  .holy-grail-left,
  .holy-grail-middle,
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
  }
  
  .holy-grail-header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  
  .holy-grail-left {
    @media screen and (max-width: 60em) {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-middle {
    @media screen and (max-width: 60em) {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .right-nav {
    @media screen and (max-width: 60em) {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  
///////////////////tabela


.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #A79CAF!important;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {
    
  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

//mappa

.infoLabel{
  margin-left: 160px;
  font-size: 24px;
  width: fit-content;
  background-color: #fff;
  border-radius: 4px;
  /* box-shadow: 1px 1px 1px 3px; */
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px dashed #e7e7e7;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mapCard{

  margin-left: 10px;
    margin-right: 10px;
}

 .mapInfo{
  margin-left:10px!important;
}

.mapPos{
  margin-bottom:40px;
  width:1400px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:20px;
  margin:0 auto;
}

.map{
  width:100%; height:300px;
  
}

::ng-deep .row {
  max-width: 1000rem !important;
 }


 ///podzial

 .screen{
  height: 800px;
}

.iconS{
  margin-top: 160px;
    margin-left: 40px;

}

.mainName{
  margin-left: 6px;
}

.photoN{
  background-color: #4c216d;
}

.photo.bck{
  min-height: 420px;
}

.background {
    
  //ckground-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Wroc%C5%82aw_Dworzec_G%C5%82%C3%B3wny.jpg");
 // background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Wroclaw-Rathaus.jpg/897px-Wroclaw-Rathaus.jpg");
  height: 100%; 

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//dla wycieczki

.tripInfo{
  margin-top:30px;
  margin-left:10px;
}

::ng-deep .mat-chip-list-wrapper{
 
  margin: 0!important;
  margin-left: 50px!important;
  margin-top:10px!important;
}

mat-chip{
 
  color:white!important;
  background-color: #662d91!important;
}

.singleTag{
  margin-left: 3px;
  font-size: 16px;
  color: white !important;
  background-color: #662d91 !important;
  border-radius: 11px;
  padding: 3px;
}

 mat-card.smallCard{
  width: 601px;
  margin-left: 49px;
  height: 246px;
}


.infoLabel{
  margin-top:63px;
  margin-left: 48px;
  font-size: 24px;
  width: fit-content;
  background-color: #fff;
  border-radius: 4px;
  /* box-shadow: 1px 1px 1px 3px; */
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px dashed #e7e7e7;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.second{
  margin-top:40px;
  margin-bottom: 40px;
}

.rectangle{
  background-color: #4c216d;  
    background-image: linear-gradient(to right, #9174a7, #4c216d);
    height: 303px;
    position: relative;
    top: 24px;
    left: -760px;
    width: 756px;
    z-index: -1;
}

.narrow{
  width:0px;
  overflow: visible;
  padding: 0;
}

.clear{
  clear: both;
}

.infoLabel2{
  margin-left: 160px;
  font-size: 24px;
  width: fit-content;
  background-color: #fff;
  border-radius: 4px;
  /* box-shadow: 1px 1px 1px 3px; */
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px dashed #e7e7e7;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.mapInfo2{
  margin-left:10px!important;
  margin-top: 60px;
}


.mapCard2{

  margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 34px;
}

.mapPos2{
  margin-bottom:40px;
  width:1400px;
  height: 300px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top:20px;
  margin:0 auto;
}

.material-icons{
  font-size: 36px;
  color:red;
}


//////heart

.flexbox {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.fav-btn {
	display:flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}


@keyframes favme-anime {
  0%   { 
		opacity: 1;
		font-size: ms(0);
		-webkit-text-stroke-color: transparent;
	}
	25%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(-2);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
	75%	 { 
		opacity:.6;
		color: #FFF;
		font-size: ms(3);
		-webkit-text-stroke-width: 1px;
   	-webkit-text-stroke-color: #DC3232;
	}
  100% { 
		opacity: 1;
		font-size: ms(2);
		-webkit-text-stroke-color: transparent;
	}
}

@keyframes favme-hover {
	from {
		font-size: ms(3);
	}
	80% {
		font-size: ms(2);
	}
}

.favme {
	display:block;
	font-size: ms(2);
	width: auto;
	height: auto;
	cursor: pointer;
	box-shadow: none;
	transition: all .2s ease;
	color: #CBCDCE;
	margin: 0;
	
	&.active {
		color: #DC3232;
	}
	&:hover {
		animation: favme-hover .3s infinite alternate;
	}
	&.is_animating {
		animation: favme-anime .3s;
  }
  
}

.schedule{
  background-color: WHITE;
  MARGIN-LEFT: 20PX;
  margin-right: 20px;
  margin-bottom: 30px;
}

.scheduleInfo{
  margin-left:19px!important;

}

///button
.bigBtn{
  text-align: center;
  margin-top: 47px;
}

.btnText{
  font-size:19px;
}

.button.success{
  background-color: #334049;
  color:#F2F5F9;
}


.add-icon{

  position: relative;
  top: 6px;
  color:white!important;
  font-size: 24px!important;
}


.add-button{
  padding-top: 10px;
  height: 56px;
    width: 275px;
}

.favIcon{
  padding-left:0px;
}

.newRating{
  padding-left: 24px;
  padding-top: 4px;
}

.commentIcon{
  font-size: 24px;
    color: white;

}

.mat-raised-button{
  box-shadow: none!important;
}

.mat-raised-button.mat-primary{

border-radius: 0!important;
font-family: inherit;
color: white;
background-color: #334049;
background: #87689e;
}


////button new schedule

.moreBtn{
  margin-left: 37%;
  width: 26%;
  margin-top: 10px;
  margin-bottom: 60px;
  height: 64px;
}

.moreBtn:focus{
  outline:none!important;
}

.secondary{
  background-color: #662d91;

}

.button.secondary:hover,
.button.secondary:focus{
  background-color: #4c216d;
  outline:none;
}

.button.success{
  background-color: #334049;
  color:#F2F5F9;
}

button.moreBtn{
  background-color: #662d91!important;

}

//button


.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);

}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #662d91;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}


.delete{
  font-size:17px;
  color:white;

}

.success.deleteBtn{
  margin:0;
  padding: 0;
  opacity: 0;
  transition-duration: 200ms;
}

.tableRow .success.deleteBtn{
  transition: opacity 200ms linear;
}
.tableRow:hover .success.deleteBtn{
  opacity: 1;
}

.lastCol{
  text-align: center;
}