h3 {
    font-family: 'Work Sans', sans-serif;
}

.heading{
    padding-left: 0px;
    padding-right: 0px;
}

.myRow{
    margin-left: 0;
    margin-right: 0;
    margin-bottom:60px;
}

.secondRow{
  margin-bottom: 40px;
}

.columns{
    float: left !important;
}

.smallContainer{
    padding-left: 50px;
    padding-right: 10px;
}

.description{
    width:210%;
}
 
.tbl{
  width:100%
}

.id{
  width:10px;
}

.name{
  width:200px;
}

.place{
  width:40px;
}

.hoverEff{
  background-color: blueviolet;
}

.myIcon{
  margin-left:200px!important;
}

.hovActive tr:hover{
  background-color: darkslategrey;
}
.map{
  margin-bottom: 40px;
}

.border{
  border-left: 4px solid black;
    padding-left: 27px;
}
////////////////////
.holy-grail-grid {
    display: grid;
    grid-gap: 20px;

    // redefining grid on small
    @media screen and (max-width: 60em) {
      grid-template-rows: 2fr 1fr 5fr 1fr;
    }
  }
  
  .holy-grail-header,
  .holy-grail-left,
  .holy-grail-middle,
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
  }
  
  .holy-grail-header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  
  .holy-grail-left {
    @media screen and (max-width: 60em) {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-middle {
    @media screen and (max-width: 60em) {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .right-nav {
    @media screen and (max-width: 60em) {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  
  
///////////////////tabela


.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {
    
  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

