<div class="containerFull full ">
  <div claee="row">
    <div class="columns large-6 align-center screen ">
      <div class="row iconS align-start">
        <div class="columns large-2"></div>
        <div class="columns large-2">
          <img src="assets/map.svg" height="90px" width="90px">
        </div>
        <div class="columns large-7" *ngIf="initialized">
          <h3 class="mainName">{{trip.name}} </h3>
          <div class="row">
            <div class="columns large-7">
              <star-rating id="ratingStar" [starType]="'svg'" [rating]="4.5" [disabled]="false" [showHalfStars]="true"
                size="large" labelPosition="bottom"></star-rating>
            </div>
            <div class="columns large-2 favIcon">
              <i *ngIf="!inFavourities" class="material-icons favme" (click)="onFav()">
                favorite_border
              </i>

              <i *ngIf="inFavourities" class="material-icons favme active" (click)="onFav()">
                favorite
              </i>
            </div>
            <div class="columns large-1">

              <button mat-raised-button color="primary"> <i class="material-icons commentIcon">
                  comment
                </i> Dodaj&nbsp;ocenę</button>
              <!--<i class="material-icons commentIcon">
              comment
            </i>-->
            </div>
            <!--<div class="columns large-2 newRating">
            <span>Dodaj&nbsp;ocenę</span>
            
</div>-->

          </div>
        </div>

      </div>


      <div class="row" *ngIf="initialized">
        <div class="infoLabel">Informacje</div>
        <mat-card class="smallCard">
          <div class="columns small-11 smallContainer border tripInfo">
            <h4><span class="tripHeader">Państwo:</span> {{trip.country}}</h4>
            <h4><span class="tripHeader">Region:</span> {{trip.region}}</h4>
            <h4><span class="tripHeader">Czas trwania:</span> {{trip.duration}} dni</h4>

            <h4><span class="tripHeader">Tagi: </span>
              <!-- <span class="singleTag">#weekend #miasto #zwiedzanie </span></h4>-->

              <span *ngFor="let tag of trip.tags" class="singleTag">#{{tag}} </span></h4>


            <h4 class="description"><span class="tripHeader"> Opis: </span> {{trip.description}}
            </h4>

          </div>
        </mat-card>
      </div>


    </div>
    <div class="columns large-6 photoN screen " *ngIf="initialized">a
      <div class="background" [ngStyle]="{'background-image': 'url('+trip.image+')'}"></div>
    </div>
  </div>
</div>


<div class="cont full second" *ngIf="initialized">
  <div claee="row">
    <div class="columns large-6 align-center ">
      <div *ngIf="!hover; else photoContainer">
        <img class="photo" src="{{this.places[1].image[1].image}}" width="600px">
      </div>
      <ng-template #photoContainer>
        <div class="myTable">
          <app-photos-on-hover></app-photos-on-hover>
        </div>
      </ng-template>
    </div>
    <div class="columns narrow">
      <div class=" rectangle"></div>
    </div>
    <div class="columns large-6 align-center ">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="id">Numer</th>
            <th class="name">Nazwa</th>
            <th class="place">Lokacja</th>
          </tr>
        </thead>
        <tbody>
          <tr class="active tableRow" (mouseover)="onHover(i)" *ngFor="let place of places, let i=index">
            <td data-label="First Name">{{i+1}}</td>
            <td data-label="Last Name">{{place.name}}</td>
            <td data-label="Hero Title">{{place.city}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="clear"></div>
</div>

<div class="infoLabel2 mapInfo2">Lokalizacja</div>
<mat-card class="mapCard2">
  <div id="map" class="mapPos2 row">
    <div id="popup">
      <div (click)="tooltip.toggle()" mat-raised-button #tooltip="matTooltip" matTooltip="Info about the action"
        matTooltipPosition="above">
      </div>
    </div>
  </div>
</mat-card>

<div class="infoLabel2 mapInfo2 scheduleInfo" *ngIf="trip.schedule.scheduleExists">Grafik</div>
<!--
<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal data
        </mat-panel-title>
        <mat-panel-description>
          Type your name and age
        </mat-panel-description>
      
      </mat-expansion-panel-header>
  
    
    </mat-expansion-panel>
    </mat-accordion>
-->
<mat-card class="schedule" *ngIf="trip.schedule.scheduleExists">
  <app-schedule [inTrip]="true"></app-schedule>
</mat-card>
<!--
<div class="container">
  <div class="holy-grail-grid">
    <div class="holy-grail-header">
      <div class="row myRow">
        <div class="columns small-1 heading">
          <img src="assets/map.svg" height="70px" width="70px">
        </div>
        <div class="columns small-7 heading">
          <h3 class="tripName">{{trip.name}}</h3>
          <div class="columns small-7 smallContainer border">
            <h4><span class="tripHeader">Państwo:</span> {{trip.country}}</h4>
            <h4><span class="tripHeader">Region:</span> {{trip.region}}</h4>
            <h4><span class="tripHeader">Czas trwania:</span> {{trip.duration}} dni</h4>
            <h4 class="description"><span class="tripHeader"> Opis: </span> {{trip.description}}
            </h4> 

          </div>
        </div>
      </div>

      <div class="row secondRow">
        <div class="columns small-6 noPadding ">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="id">Numer</th>
                <th class="name">Nazwa</th>
                <th class="place">Lokacja</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active tableRow"(mouseover)="onHover(i)" 
              *ngFor="let place of places, let i=index"
             >
                <td data-label="First Name" >{{i+1}}</td>
                <td data-label="Last Name" >{{place.name}}</td>
                <td data-label="Hero Title">{{place.city}}</td>
              </tr>
            </tbody>
          </table>-->

<!--   <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
     
      </div>
        <div *ngIf="!hover; else photoContainer" >
          <img class="photo" 
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Warszawa-Zamek_Kr%C3%B3lewski.jpg/1024px-Warszawa-Zamek_Kr%C3%B3lewski.jpg"
           width="600px">
        </div>
        <ng-template #photoContainer>
          <div class="myTable">
            <app-photos-on-hover></app-photos-on-hover>
          </div>
        </ng-template>
      </div>
      

    </div>
  </div>
</div> -->
<!--
<div class="infoLabel mapInfo">Lokalizacja</div>
<mat-card class="mapCard">
  <div id="map" class="mapPos row">
    <div id="popup">
      <div (click)="tooltip.toggle()" mat-raised-button #tooltip="matTooltip" matTooltip="Info about the action"
        matTooltipPosition="above">
      </div>
    </div>
  </div>
</mat-card>


-->
<!--
<div class="map">
    <agm-map style="width:100%; height:250px;" [latitude]='latitude' [longitude]='longitude' 
    [mapTypeId]='mapType'>
  </agm-map>
</div>
-->