<div class="container">
  <div class="holy-grail-grid">
    <div class="holy-grail-header">
      <div class="row myRow">
        <div class="columns small-1 heading">
          <img src="assets/map.svg" height="70px" width="70px">
        </div>
        <div class="columns small-7 heading">
          <h3 class="tripName">{{trip.name}}</h3>
          <div class="columns small-7 smallContainer border">
            <h4><span class="tripHeader">Państwo:</span> {{trip.country}}</h4>
            <h4><span class="tripHeader">Region:</span> {{trip.region}}</h4>
            <h4><span class="tripHeader">Czas trwania:</span> {{trip.duration}} dni</h4>
            <h4 class="description"><span class="tripHeader"> Opis: </span> {{trip.description}}
            </h4> 

          </div>
        </div>
      </div>

      <div class="row secondRow">
        <div class="columns small-6 noPadding ">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="id">Numer</th>
                <th class="name">Nazwa</th>
                <th class="place">Lokacja</th>
              </tr>
            </thead>
            <tbody>
              <tr class="active tableRow"(mouseover)="onHover(i)" 
              *ngFor="let place of places, let i=index"
             >
                <td data-label="First Name" >{{i+1}}</td>
                <td data-label="Last Name" >{{place.name}}</td>
                <td data-label="Hero Title">{{place.city}}</td>
              </tr>
            </tbody>
          </table>
       
    <!--   <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
      -->
      </div>
        <div *ngIf="!hover; else photoContainer" >
          <img class="photo" 
           src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Warszawa-Zamek_Kr%C3%B3lewski.jpg/1024px-Warszawa-Zamek_Kr%C3%B3lewski.jpg"
           width="600px">
        </div>
        <ng-template #photoContainer>
          <div class="myTable">
            <app-photos-on-hover></app-photos-on-hover>
          </div>
        </ng-template>
      </div>
      

    </div>
  </div>
</div>
<!--
<div class="map">
    <agm-map style="width:100%; height:250px;" [latitude]='latitude' [longitude]='longitude' 
    [mapTypeId]='mapType'>
  </agm-map>
</div>
-->
