<div *ngIf="before">
<h1 mat-dialog-title>Wybierz wycieczkę</h1>
<mat-dialog-content *ngIf="initialized">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="id">Numer</th>
        <th class="name">Nazwa</th>
        <th  class="name">&nbsp;Wybierz
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="active tableRow" (mouseover)="onHover(i)" *ngFor="let trip of myTrips, let i=index">
        <td data-label="First Name">{{i+1}}</td>
        <td data-label="Last Name">{{trip.name}}</td>
        <td  data-label="Last Name">
            <span class="button success add-button" (click)="onAdd(i)">+</span></td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>
</div>
<div *ngIf="!before">

<h1 mat-dialog-title>Potwierdzenie</h1>
  <mat-dialog-content *ngIf="initialized">

    <h6>Obiekt {{data.name}} został dodany do Twojej wycieczki {{chosenTrip.name}}!</h6>


  </mat-dialog-content>

  <mat-dialog-actions>

      <div class="columns small-9">
          <button type="submit" class="sign-in-form-button signIn">Zobacz wycieczkę
            </button>
      </div>
  
      <div class="columns small-3 ">
        <button type="submit" class="sign-in-form-button signIn">Zamknij
        </button>
      </div>
    </mat-dialog-actions>
  </div>