<div *ngIf="!before">
  
    <h1 mat-dialog-title *ngIf="initialized">Oceń {{data.place!=null?'miejsce':'wycieczkę'}}</h1>
      <mat-dialog-content *ngIf="initialized">
         
     
      </mat-dialog-content>

      <mat-dialog-actions>
    
          <div class="columns small-9">
              <button  type="submit" (click)="cancel()" class="sign-in-form-button signIn smallButton cancel">Anuluj
                </button>
          </div>
      
          <div class="columns small-3 ">
            <button type="submit" (click)="onConfirm()" class="sign-in-form-button signIn smallButton ">Zatwierdź
            </button>
          </div>
        </mat-dialog-actions>
      </div>