<div class="container"  *ngIf="initialized">
  <h4 class="headingStyle">Przeszukiwanie wycieczek</h4>
  <form [formGroup]="form">
    <div class="row whereGo">
      <div class="wrap">
        <div class="search">

          
          <!--
          <mat-form-field class="example-full-width">
              <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
              
                  <span>{{state.name}}</span> |
                  <small>Population: {{state.population}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  -->

<div>
  <input #fruitInput type="text" class="searchTerm selectSearch" placeholder="Wybierz tagi" [matAutocomplete]="auto"
  formControlName="tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
</div>

<div>   
       <input type="text" class="searchTerm selectSearch" placeholder="Wybierz region" [matAutocomplete]="auto2"
            formControlName="region">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let region of filteredRegions" [value]="region">

              <span>{{region}}</span>
              <!--       <small>Population: {{state.population}}</small>-->
            </mat-option>
          </mat-autocomplete>
        </div>
      
<div>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags" [value]="tag">

              <span>{{tag}}</span>
            </mat-option>
          </mat-autocomplete>
        </div>

<div class="">

          <input  type="number" min="1" class="searchTerm selectSearch" placeholder="Min. ilość dni" formControlName="durationFrom">
</div>
<div class="selectSearch" >
<div >

          <input type="number" min="1" class="searchTerm" placeholder="Max. ilość dni" formControlName="durationTo">
        </div>
          <button (click)="onSearch()" type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>

        </div>
        </div>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let tag of chosenTags" [selectable]="selectable" [removable]="removable"
            (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>

        </mat-chip-list>
      </div>
    </div>
  </form>

  <h2 class="type-sidelines" *ngIf="first"><span>Ostatnio dodane wycieczki</span></h2>
<h2 class="type-sidelines" *ngIf="first==false"><span>Wyniki wyszukiwania </span></h2>

  <div class="row">
      <div class="noContentText" *ngIf="trips.length==0"> Brak wyników 
          <img src="assets/heart.png" height="30px" width="30px"><br>
         <div> Zmień kryteria wyszukiwania </div>
        </div>
    <div *ngFor="let trip of trips; let i = index;">
      <div class="small-12 medium-6 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front"
            [ngStyle]="{'background-image': 'url('+trip.image+')'}"
            style="background-size: cover;">
               <!--"background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/Toru%C5%84_Stare_Miasto_panorama_zima.jpg/1024px-Toru%C5%84_Stare_Miasto_panorama_zima.jpg);--> 
              
               <span *ngIf="trip.mean==0">{{trip.name}}<br>

                Ocena: brak 
             
                

              </span>
              <span *ngIf="trip.mean!=0">{{trip.name}}<br>

             
                Ocena: {{trip.mean}}/5
                

              </span>
              

            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{trip.name}}</h3>
              <p class="flip-card-inner-back-text">{{trip.description}}</p>
              <a [routerLink]="'/trip/details/'+trips[i].id" class="button success">Zobacz</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--
  <button class="button moreBtn button-rounded-hover">Zobacz więcej miejsc

  </button>-->
  </div>