<div class="container">
  <h4 class="headingStyle">Przeszukiwanie obiektów</h4>
  <form [formGroup]="form" *ngIf="initialized">
    <div class="row whereGo">
      <div class="wrap">
        <div class="search">

          
          <!--
          <mat-form-field class="example-full-width">
              <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let state of filteredStates | async" [value]="state.name">
              
                  <span>{{state.name}}</span> |
                  <small>Population: {{state.population}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  -->


  <input #fruitInput type="text" class="searchTerm" placeholder="Wybierz tagi" [matAutocomplete]="auto"
  formControlName="tags" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
  [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">



          <input type="text" class="searchTerm" placeholder="Wybierz region" [matAutocomplete]="auto2"
            formControlName="region">
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let region of filteredRegions" [value]="region">

              <span>{{region}}</span>
              <!--       <small>Population: {{state.population}}</small>-->
            </mat-option>
          </mat-autocomplete>


<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags" [value]="tag">

              <span>{{tag}}</span>
            </mat-option>
          </mat-autocomplete>



          <input type="number" min="1" class="searchTerm" placeholder="Min. ilość dni" formControlName="durationFrom">


          <input type="number" min="1" class="searchTerm" placeholder="Max. ilość dni" formControlName="durationTo">

         
          



          <button (click)="onSearch()" type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>


        </div>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip *ngFor="let tag of chosenTags" [selectable]="selectable" [removable]="removable"
            (removed)="remove(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>

        </mat-chip-list>
      </div>
    </div>
  </form>

  <h2 class="type-sidelines"><span>Co można zobaczyć w: x</span></h2>

  <div class="row">
    <div *ngFor="let trip of trips; let i = index;">
      <div class="small-2 large-4 columns">
        <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
          <div class="flip-card-inner">
            <div class="flip-card-inner-front" style="background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Zamo%C5%9B%C4%87._Ratusz..jpg/800px-Zamo%C5%9B%C4%87._Ratusz..jpg);
                background-size: cover;">
              <span>{{trip.name}}<br>

                Ocena: 4.5/5

              </span>

            </div>
            <div class="flip-card-inner-back">
              <h3 class="flip-card-inner-back-title">{{trip.name}}</h3>
              <p class="flip-card-inner-back-text">{{trip.description}}</p>
              <a [href]="'/trip/details/'+trips[i].id" class="button success">Zobacz</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <button class="button moreBtn button-rounded-hover">Zobacz więcej miejsc

  </button>