<div class="container">
  <h2 class="headingStyle">Tworzenie własnej wycieczki</h2>

  <form [formGroup]="form">
    <div class="sign-in-form">
      <div class="singleInput">
        <label for="sign-in-form-username">Nazwa</label>
        <input type="text" formControlName="name" class="sign-in-form-username" id="sign-in-form-username" autocomplete="off"></div>

      <div class="singleInput">
        <label for="sign-in-form-password">Państwo</label>
        <input type="text"  formControlName="country" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>

      <div class="singleInput">
        <label for="sign-in-form-password">Region</label>
        <input type="text" formControlName="region" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>
      <div class="singleInput">
        <label for="sign-in-form-password">Proponowany czas trwania</label>
        <input type="number" formControlName="duration" min = "1" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"></div>


      <div class="singleInput">
        <label for="sign-in-form-password">Opis</label>
        <textarea formControlName="description" class="sign-in-form-password" id="sign-in-form-password" autocomplete="off"> </textarea>
      </div>

      <button type="submit" class="sign-in-form-button signIn">Utwórz

      </button>
    </div>
</form> 



</div>