/////
.container{
    margin-left: 20px;
  margin-right: 20px;
  }
  
  .headingStyle{
    margin-top: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
  
  }
  .inputPos{
   // height: 50px;
   margin-bottom: 0px;
    text-align: center;
  margin-left: 175px;}
  
  .whereGo{
    margin-bottom:30px;
  }
  
////input//////formularz

.sign-in-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    //background-color: white;
    width: 49%;
    margin:0 auto;
    text-align: center;
    background-color: #f2f5f9;
  }
  
  .sign-in-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-in-form label {
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 0.2rem;
    width:50%;
  }
  
  .sign-in-form input,
  .sign-in-form mat-select{
    background-color: rgb(160, 155, 155)!important;
  }
  
  .sign-in-form input:-webkit-autofill, 
  .sign-in-form mat-select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px rgb(160, 155, 155) inset;
  }
  
  .sign-in-form input:focus,
  .sign-in-form mat-select:focus
  {
    opacity: .9;
    color: #334049;
  }
  
  
  .sign-in-form textarea {
    background-color: rgb(160, 155, 155);
  }
  
  .sign-in-form textarea:focus {
    opacity: .9;
    color: #334049;
  }

  .sign-in-form-username,
  .sign-in-form-password {
    border-radius: 30px;
    border: none;
    opacity: 0.6;
    transition: all ease .4s;
    
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color:#662d91;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
    transition: all ease .4s;
    margin-top: 15px;
  }
  
  .sign-in-form-button:hover {
    background-color: #4c216d;
    border-color: #662d91;
  }
  
  //////
.singleInput{
    text-align: left;
  }
  
.noAccount{
      margin-top:20px;
      text-align: center;
  }
    
.signUp{
    margin-bottom:60px;
    
}

.signUp:focus{
  outline:none!important;
}

.signIn:focus{
  outline:none!important;
}

button{
  cursor:pointer;

}

textarea {
    resize: vertical;
  }


  ///CARD

  
//////////////////////////cards



.flip-card {
 
  border: 0;
  background: transparent;
}

.flip-card:hover .flip-card-inner,
.flip-card.hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card,
.flip-card-inner-front,
.flip-card-inner-back {
  width: 100%;
  height: 20rem;
}



.flip-card-inner {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  -moz-backface-visibility: hidden;
}

.flip-card-inner-front,
.flip-card-inner-back {
  
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.flip-card-inner-front {
 // background: url(https://images.pexels.com/photos/179124/pexels-photo-179124.jpeg?w=940&h=650&auto=compress&cs=tinysrg) 0 0 no-repeat;
  z-index: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
          color:#334049;
}


.flip-card-inner-front span {
  width: 100%;
  text-align: center;
  background: rgba(254, 254, 254, 0.8);
  padding: 0.25rem 0;
  font-size: 1.25rem;
  font-weight: bold;
  margin-top:222px;
}

.flip-card-inner-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background: #87689e;
  padding: 1rem;
}

.flip-card-inner-back-title {
  font-weight: bold;
}

.flip-card-inner-back-text {
  line-height: 1.3;
}


/////button



.moreBtn{
  margin-left: 37%;
  width: 26%;
  margin-top: 10px;
  margin-bottom: 60px
}

.moreBtn:focus{
  outline:none!important;
}

.secondary{
  background-color: #662d91;

}

.button.secondary:hover,
.button.secondary:focus{
  background-color: #4c216d;
  outline:none;
}

.button.success{
  background-color: #334049;
  color:#F2F5F9;
}

button.moreBtn{
  background-color: #662d91!important;

}



.button-rounded-hover {
  border: 0;
  border-radius: 5000px;
  padding: 1rem 2rem;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: all 0.35s ease;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);

}

.button-rounded-hover:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #fefefe;
  transition: all 0.3s;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.button-rounded-hover:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #662d91;
  content: '';
  border-radius: inherit;
}

.button-rounded-hover:hover,
.button-rounded-hover:focus {
  background-color: #115b8d;
}

.button-rounded-hover:hover:before,
.button-rounded-hover:focus:before {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 0.25;
}


///////////

.add-button{
  padding-top: 2px;
}


.add-icon{

  position: relative;
  top: 6px;
}

.selectInput{
  height: 2.4375rem;
    padding-bottom: 0px!important;
    padding-top: 7px;
    padding-left: 10px;
    font-family: "Work Sans", sans-serif !important;
}

.country{
margin: 0 0 1rem;
}

.tagInput{
  width:100%;
}

.tagInput label{
  font-weight: 500;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{
  height: 0!important;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline:focus{
  height: 0!important;
}

::ng-deep .mat-form-field-infix{
  border-top:0px;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple, 
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  height: 0;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px;
}

::ng-deep .mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate{
  background: #4c216d;
}

::ng-deep .mat-option-text{
  color:black;
}

@media 
screen and (max-width: 720px){
  .sign-in-form{
    width:100%
  }
}