<app-stars></app-stars>

<div class="container" #doc>
  <h2 class="headingStyle">Tworzenie własnej wycieczki</h2>

  <form [formGroup]="form">
    <div class="sign-in-form" *ngIf="fillingForm">
      <div class="singleInput">
        <label for="sign-in-form-username">Nazwa</label>
        <input type="text" formControlName="name" class="sign-in-form-username" id="sign-in-form-username"
          autocomplete="off"></div>

          <div class="singleInput country">
              <label for="sign-in-form-username">Kraj</label>
              <mat-select class="searchTerm sign-in-form-username selectInput" placeholder="Wybierz kraj"
                formControlName="country">
                <mat-option *ngFor="let country of countries" [value]="country">
                  {{country}}
                </mat-option>
              </mat-select>
            </div>

            <div class="singleInput country">
                <mat-form-field class="tagInput">
                    <label for="sign-in-form-password">Tagi</label>
                    <mat-select formControlName="tags" multiple  class="searchTerm sign-in-form-username selectInput">
                      <mat-option *ngFor="let topping of filteredTags" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
<!--
      <div class="singleInput">
        <label for="sign-in-form-password">Państwo</label>
        <input type="text" formControlName="country" class="sign-in-form-password" id="sign-in-form-password"
          autocomplete="off"></div>
-->
      <div class="singleInput">
        <label for="sign-in-form-password">Region</label>
        <input type="text" formControlName="region" class="sign-in-form-password" id="sign-in-form-password"
          autocomplete="off"></div>
      <div class="singleInput">
        <label for="sign-in-form-password">Proponowany czas trwania</label>
        <input type="number" formControlName="duration" min="1" class="sign-in-form-password" id="sign-in-form-password"
          autocomplete="off"></div>


      <div class="singleInput">
        <label for="sign-in-form-password">Opis</label>
        <textarea formControlName="description" class="sign-in-form-password" id="sign-in-form-password"
          autocomplete="off"> </textarea>
      </div>
    </div>
    <div class="sign-in-form"  *ngIf="fillingForm">
      <button type="submit" class="sign-in-form-button signIn" (click)="onCreate()"> Utwórz
      </button>
    </div>
    <div class="sign-in-form" *ngIf="!fillingForm">
      <button type="submit" class="sign-in-form-button signIn" (click)="onBack()"> Wróc 
      </button>
    </div>
    


    <div class="row" *ngIf="!fillingForm">
      <div *ngFor="let place of places; let i = index;">
        <div class="small-2 large-4 columns">
          <div class="flip-card card" ontouchstart="this.classList.toggle('hover');">
            <div class="flip-card-inner">
           <!--   <div class="flip-card-inner-front" style="background:url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/37/Zamo%C5%9B%C4%87._Ratusz..jpg/800px-Zamo%C5%9B%C4%87._Ratusz..jpg);
                  background-size: cover;">
                <span>{{place.name}}<br>
                  Kategoria: {{place.category}} <br>
                  Ocena: 4.5/5
    
                </span>
    
              </div>
              -->
              <div class="flip-card-inner-front" 
              
              [ngStyle]="{ 'background': 'url('+(place.status=='new'? 'https://live.staticflickr.com/8652/27620992483_a37104d94b_b.jpg':place.status)+')', 'background-size': 'cover' }"
             >

           <span *ngIf="place.mean==0">{{place.name}}<br>
             Kategoria: {{place.category}} <br>
             Ocena: brak 

           </span>

           <span *ngIf="place.mean!=0">{{place.name}}<br>
             Kategoria: {{place.category}} <br>
             Ocena: {{place.mean}}/5
             

           </span>
         </div>
              <div class="flip-card-inner-back">
                <h3 class="flip-card-inner-back-title">{{place.name}}</h3>
                <p class="flip-card-inner-back-text">{{place.description}}</p>
                <a [href]="'/place/details/'+places[i].id" class="button success">Zobacz</a>
                <span class="button success add-button" (click)="onAdd(places[i], i)" >
                    <i class="material-icons add-icon">
                        {{status[i]?"add_circle":"done"}}
                        </i>
                      <span>   {{status[i]?"Dodaj":"Dodano"}}
                        </span>                       
                      </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="!fillingForm" (click)="more()"class="button moreBtn button-rounded-hover">Zobacz więcej miejsc

    </button>
  </form>



</div>