/* You can add global styles to this file, and also import other style files */
// Import Foundation for Sites
// See https://foundation.zurb.com/sites/docs/sass.html for detailed info.
@import '~foundation-sites/scss/foundation';
  @include foundation-everything;

// Import Angular ngx-foundation Framework Added Styles
@import "~ngx-foundation/assets/scss/main";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.container{
  margin-left: 20px;
margin-right: 20px;
font-family: 'Work Sans', sans-serif;
}
@include foundation-grid;

body{
  font-family: 'Work Sans', sans-serif;
}