/* You can add global styles to this file, and also import other style files */
// Import Foundation for Sites
// See https://foundation.zurb.com/sites/docs/sass.html for detailed info.
@import '~foundation-sites/scss/foundation';
  @include foundation-everything;

  @include foundation-grid;

// Import Angular ngx-foundation Framework Added Styles
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~angular-notifier/styles";

.container{
  margin-left: 20px;
margin-right: 20px;
font-family: 'Work Sans', sans-serif;
min-height: calc(100vh - 217px);

}

.containerFull{

font-family: 'Work Sans', sans-serif;
min-height: 840px;
}

.cont{
  font-family: 'Work Sans', sans-serif;
}


body{
  background-color: #F7F9F9;
  color: #334049;
  //background-image:
  // url("https://c.pxhere.com/photos/a6/21/4k_wallpaper_adventure_daylight_glacier_HD_wallpaper_high_lake_landscape-1548857.jpg!d");
}

body,H1,.h1,h2,h3,h4,h5,h6{
  font-family: 'Work Sans', sans-serif!important;
}
.cdk-overlay-pane{
  margin-top:0px!important;
}


/* Override colors by using scss variables */
$color-negative-rating: #0f0 !default;
$color-ok-rating:  #4c216d!default;
$color-positive-rating: #4c216d !default;
$color-default-rating: #4c216d !default;

$header-font-family:'Work Sans', sans-serif !default;

@import "~ngx-foundation/assets/scss/main";
@import '~css-star-rating/scss/star-rating';
/* Import star-rating styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

