

////////////timeline




.timeline .timeline-item::after, .timeline .timeline-item::before {
    clear: both;
    content: '';
    display: block;
    width: 100%;
  }
  
  .timeline {
    margin: 30px auto;
    padding: 0 10px;
    position: relative;
    transition: all 0.25s ease-in;
    width: 100%;
    background-color: #f7f9f9
  }
  
  .timeline::before {
    background: #662d91;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 3px;
  }
  
  .timeline::after {
    clear: both;
    content: '';
    display: table;
    width: 100%;
  }
  
  .timeline a {
    color:#fefefe;
    font-weight: bold;
    transition: all 0.25s ease-in;
  }
  
  .timeline a:hover {
    box-shadow: 0 1px 0px 0px #fefefe;
    transition: all 0.25s ease-in;
  }
  
  .timeline .timeline-item {
    margin-bottom: 0px;
    position: relative;
  }
  
  .timeline .timeline-item .timeline-icon {
    background: #bab6b6;
    border-radius: 50%;
    height: 60px;
    left: 50%;
    margin-left: -27px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 60px;
    border: 2px dotted #662d91;
  }
  
  .timeline .timeline-item .timeline-icon img,
  .timeline .timeline-item .timeline-icon svg {
    left: 12px;
    position: relative;
    top: 11px;
  }
  
  .timeline .timeline-item .timeline-icon svg {
    top: 14px;
  }
  
  .timeline .timeline-item .timeline-content {
    padding: 20px;
    text-align: right;
    transition: all 0.25s ease-in;
    width: 45%;
    background: transparent;
  }
  
  .timeline .timeline-item .timeline-content p {
    color: black;
  }
  
  .timeline .timeline-item .timeline-content p {
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 0;
  }
  
  .timeline .timeline-item .timeline-content .timeline-content-date {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .timeline .timeline-item .timeline-content .timeline-content-month {
    font-size: 0.875rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  
  .timeline .timeline-item .timeline-content.right {
    float: right;
    text-align: left;
  }
  
  @media screen and (max-width: 39.9375em) {
    .timeline {
      margin: 30px;
      padding: 0;
      width: 90%;
    }
    .timeline::before {
      left: 0;
    }
    .timeline .timeline-item .timeline-content {
      float: right;
      text-align: left;
      width: 90%;
    }
    .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
      border-left: 0;
      border-right: 7px solid #fefefe;
      left: 10%;
      margin-left: -6px;
    }
    .timeline .timeline-item .timeline-icon {
      left: 0;
    }
  }
  
  .anotherDay{
    color:black; 
    text-align:center; 
    text-transform: uppercase;     
    font-weight: 800;
    font-size: 26px;    
    margin-top: 18px;
    margin-left: 130px;
  }
  
    
//////////////header

.headingStyle{
    margin-top: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
  
  }

  ////
  .noPlaces{
  text-align: center;
  padding-left: 366px;
}

.otherPos{
  font-size: 20px!important;
   text-transform: unset;
    margin-top:20px;
    margin-left: 500px;
    font-weight: 500!important;
}

.hoverTimelineItem{
  .address{
    height: 0px;
    transition-duration: 300ms;
    overflow: hidden;
  }

}
.hoverTimelineItem:hover .address{
    height: 1.5em;
}
.hoverTimelineItem:hover p{
  font-size: 20px !important;
}
.hoverTimelineItem p{
  transition-duration: 300ms;

}

.container{
  margin-bottom:30px;
}

.buttons{
  margin-top: 42px;
  margin-bottom: 29px;
  text-align: center;
 button{
   margin-right: 5px;
   margin-left:5px;
   width:245px;
 }
}


//button
.sign-in-form-button {
  border-radius: 30px;
  border: 1px solid #fff;
  color: #fff;
  background-color:#662d91;
  text-transform: uppercase;
  letter-spacing: 1px;

  padding: 1rem;
  transition: all ease .4s;
margin-bottom:10px;
}

.sign-in-form-button:hover {
  background-color: #4c216d;
  border-color: #662d91;
}

//button

.signUp{
  width:30%;
  margin-bottom:60px;
  
}

.signUp:focus{
outline:none!important;
}

.signIn:focus{
outline:none!important;
}

button{
cursor:pointer;

}
.mat-dialog-title{
font-weight: 600;
border-bottom: 1px solid gray;
}

.infoConfirm{
text-align: center;
margin-bottom: 19px;
}


.actions{
margin-top:10px;
}

.sign-in-form-button.cancel:hover{
background-color: #cacaca;
border-color: #cacaca;
}

.sign-in-form-button.cancel {
background-color: #cacaca;
}

.chooseOther{
text-align: left;
}

.firstOption{
text-align: right;
}

@media 
screen and (max-width: 980px) {
  .otherPos{
    margin-left: 51%;
  }
}
@media 
screen and (max-width: 40em){
  .anotherDay{
    margin-left: 0px;
  }

  .noPlaces{
    padding-left: 0px;
  }
  .otherPos{
    margin-left: 0;
  }
  .hoverTimelineItem:hover .address{
      height: 100%;
  }
}



