<div class="container">
    <h2 class="headingStyle">Tworzenie grafiku wycieczki {{trip.name}}</h2>
    <form [formGroup]="form">
      <div class="sign-in-form" *ngIf="fillingForm">
        <div class="singleInput">
          <label for="sign-in-form-username">Początek</label>
          <input type="date" formControlName="start" class="sign-in-form-username" id="sign-in-form-username"
            autocomplete="off" (change)="countDays()">
        </div>
  
        <div class="singleInput">
          <label for="sign-in-form-username">Koniec</label>
          <input type="date" formControlName="end" class="sign-in-form-username" id="sign-in-form-username"
            autocomplete="off" (change)="countDays()">
        </div>
        <div *ngIf="dayCount" class="textCateogory up">
          Wycieczka będzie trwać {{days}}&nbsp; dni
        </div>
      </div>
  
      <div class="sign-in-form" *ngIf="fillingForm">
        <button type="submit" class="sign-in-form-button signIn" (click)="onCreate()"> Zatwierdź
        </button>
      </div>
    </form>
</div>  