
  <h1 mat-dialog-title>Potwierdzenie</h1>
  <mat-dialog-content *ngIf="initialized">

    <h6>Obiekt {{data.place.name}} został dodany do Twojej nowej wycieczki!</h6>


  </mat-dialog-content>
  <mat-dialog-actions>

    <div class="columns small-9">
        <button (click)="checkTrip()" type="submit"  class="sign-in-form-button signIn">Zobacz wycieczkę
          </button>
    </div>

    <div class="columns small-3 ">
      <button (click)="cancel()" type="submit" class="sign-in-form-button signIn">Zamknij
      </button>
    </div>
  </mat-dialog-actions>
