/////
.container{
    margin-left: 20px;
  margin-right: 20px;
  }
  
  .headingStyle{
    margin-top: 20px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
  
  }
  .inputPos{
   // height: 50px;
   margin-bottom: 0px;
    text-align: center;
  margin-left: 175px;}
  
  .whereGo{
    margin-bottom:30px;
  }
  
////input//////formularz

.sign-in-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
  //  background-color: white;
    width: 60%;
    margin:0 auto;
    text-align: center;
    background-color: #f2f5f9;
  }
  
  .sign-in-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .sign-in-form label {
    text-transform: uppercase;
    color: #adadad;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 0.2rem;
    width:50%;
  }
  
  .sign-in-form input {
    background-color: rgb(160, 155, 155)!important;
  }
  
  .sign-in-form input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px rgb(160, 155, 155) inset;
  }
  
  .sign-in-form input:focus {
    opacity: .9;
    color: #334049;
  }
  
  .sign-in-form-username,
  .sign-in-form-password {
    border-radius: 30px;
    border: none;
    opacity: 0.6;
    transition: all ease .4s;
    
  }
  
  .sign-in-form-button {
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #662d91;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 35%;
    padding: 1rem;
    transition: all ease .4s;
    margin-top: 15px;
  }
  
  .sign-in-form-button:hover {
    background-color: #4c216d;
    border-color: #662d91;
  }
  
  
  .sign-in-form select {
    background-color: rgb(160, 155, 155);
  }
  
  .sign-in-form input:select {
    opacity: .8;
    color:blue;
  }

  ////////////raddio btton

  
.polls {
  margin-bottom: 1.3rem;
  text-align: left!important;
}

.polls .polls-question {
  margin-bottom: .5rem;
}

.polls .polls-question .polls-question-label {
  color: #1779ba;
  font-weight: 500;
  margin-right: .25rem;
}

.polls .polls-submit {
  margin-top: .3rem;
}

.polls .polls-submit .button {
  margin-right: .5rem;
  text-transform: uppercase;
}


  //////
.singleInput{
    text-align: left;
  }
  
.noAccount{
      margin-top:20px;
      text-align: center;
  }
    
.signUp{
    width:30%;
    margin-bottom: 60px;
}

.signUp:focus{
  outline:none!important;
}

.newAccount:focus{
  outline:none!important;

}

button{
  cursor:pointer;
}

.label{
  text-align: left;
}

.option{
  width: 20%!important;
}
.submit{
  margin-top:0px;
}