<div class="container">
  <h2 class="headingStyle">Utwórz nowe konto</h2>

  <form>
    <div class="sign-in-form row">
      <div class="large-6  columns">
        <div class="singleInput">
          <label for="sign-in-form-username">E-mail</label>
          <input type="text" class="sign-in-form-username" id="sign-in-form-username">
        </div>
        <div class="singleInput">
          <label for="sign-in-form-username">Login</label>
          <input type="text" class="sign-in-form-username" id="sign-in-form-username">
        </div>
        <div class="singleInput">
          <label for="sign-in-form-username">Hasło</label>
          <input type="password" class="sign-in-form-username" id="sign-in-form-username">
        </div>
        <div class="singleInput">
          <label for="sign-in-form-username">Powtórz hasło</label>
          <input type="password" class="sign-in-form-username" id="sign-in-form-username">
        </div>
      </div>
      <div class="large-6  columns">
        <div class="singleInput">
          <label for="sign-in-form-username">Płeć</label>
          <input type="text" class="sign-in-form-username" id="sign-in-form-username">
        </div>
        <div class="singleInput">
          <label for="sign-in-form-username">Wiek</label>
          <input type="text" class="sign-in-form-username" id="sign-in-form-username">
        </div>
        <div class="singleInput">
          <label for="sign-in-form-password">Kraj</label>
          <select class="sign-in-form-password" id="sign-in-form-password">
            <option value="text" class="sign-in-form-password" id="sign-in-form-password">
              Abccd
            </option>
            <option value="text" class="sign-in-form-password" id="sign-in-form-password">
              Abccd1
            </option>
            <option value="text" class="sign-in-form-password" id="sign-in-form-password">
              Abccd2
            </option>
          </select>
        </div>
        <div class="singleInput">
          <label for="sign-in-form-username">Miasto</label>
          <input type="text" class="sign-in-form-username" id="sign-in-form-username">
        </div>
      </div>

            <button type="submit" class="sign-in-form-button newAccount">Utwórz konto
      </button>

    </div>
  </form>
  <div class="sign-in-form">
    <h5 class="noAccount">Masz już konto?</h5>
    <button class="sign-in-form-button signUp">Zaloguj się</button>
  </div>

</div>